{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Departure-Monitor" %}
{% endblock %}

{% block callBack %}departureMonitorFormSetup{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" role="tablist">
                <li class="active">
                    <a href="#generalTab" role="tab" data-toggle="tab"><span>{% trans "General" %}</span></a>
                </li>
                <li>
                    <a href="#tableHeadTab" role="tab" data-toggle="tab"><span>{% trans "Table Head" %}</span></a>
                </li>
                <li>
                    <a href="#tableBodyTab" role="tab" data-toggle="tab"><span>{% trans "Table Body" %}</span></a>
                </li>
                <li>
                    <a href="#iconsTab" role="tab" data-toggle="tab"><span>{% trans "Icons" %}</span></a>
                </li>
            </ul>
            <form id="departureMonitorEditForm" class="XiboForm form-horizontal" method="put"
                  action="{{ urlFor("module.widget.edit", {id: module.widget.widgetId}) }}">
                <div class="tab-content">
                    <div class="tab-pane active" id="generalTab">
                        {% set title %}{% trans "Name" %}{% endset %}
                        {% set helpText %}{% trans "An optional name for this widget" %}{% endset %}
                        {{ forms.input("name", title, module.getOption("name"), helpText, "") }}

                        {% set title %}{% trans "Departure Monitor Service" %}{% endset %}
                        {% set helpText %}{% trans "Please select the service you want to use." %}{% endset %}
                        {% set linzag %}{% trans "LinzAG" %}{% endset %}
                        {% set wienerlinien %}{% trans "Wiener Linien" %}{% endset %}
                        {% set options = [
                            { id: 1, value: linzag },
                            { id: 2, value: wienerlinien },
                        ] %}
                        {{ forms.dropdown("serviceId", "single", title, module.getOption("serviceId"), options, "id", "value", helpText) }}

                        {% set title %}{% trans "API-Key" %}{% endset %}
                        {% set helpText %}{% trans "Please specify a key if the service needs one" %}{% endset %}
                        {{ forms.input("apiKey", title, module.getOption("apiKey"), helpText, "") }}

                        {% set title %}{% trans "Destination" %}{% endset %}
                        {% set helpText %}{% trans "The Departure Monitor of you desired Location. Separate by ; for multiple destinations" %}{% endset %}
                        {{ forms.input("destination", title, module.getOption("destination"), helpText, "", "required") }}

                        {% set title %}{% trans "Set a duration?" %}{% endset %}
                        {% set helpText %}{% trans "Select to provide a specific duration for this Widget" %}{% endset %}
                        {{ forms.checkbox("useDuration", title, module.getUseDuration(), helpText) }}

                        {% set title %}{% trans "Duration" %}{% endset %}
                        {% set helpText %}{% trans "The duration in seconds this should be displayed" %}{% endset %}
                        {{ forms.number("duration", title, module.getDuration(), helpText, "duration-fields", "required") }}
                    </div>
                    <div class="tab-pane" id="tableHeadTab">
                        {% set title %}{% trans "Font" %}{% endset %}
                        {% set attributes = [
                            { name: "data-search-url", value: urlFor("library.font.list") },
                            { name: "data-value", value: module.getOption("headFont") }
                        ] %}
                        {% set helpText %}{% trans "Select a font for the head" %}{% endset %}
                        {{ forms.dropdown("headFont", "single", title, "", [{id: "arial", value: "Arial"}], "id", "value", helpText, "", "", "", "", attributes) }}

                        {% set title %}{% trans "Font Color" %}{% endset %}
                        {% set helpText %}{% trans "Select the color of your font" %}{% endset %}
                        {{ forms.input("theadFontColor", title, module.getOption("theadFontColor", "#f5f5f5"), helpText, "", "required") }}

                        {% set title %}{% trans "Font Size Multiplier" %}{% endset %}
                        {% set helpText %}{% trans "Scale your font size" %}{% endset %}
                        {{ forms.input("theadFontScale", title, module.getOption("theadFontScale", "1"), "", "required") }}

                        {% set title %}{% trans "Background Color" %}{% endset %}
                        {% set helpText %}{% trans "Select the background color for the head" %}{% endset %}
                        {{ forms.input("theadBackgroundColor", title, module.getOption("theadBackgroundColor", "#36304a"), helpText, "", "required") }}

                        {% set title %}{% trans "Line Header" %}{% endset %}
                        {% set helpText %}{% trans "Change the header-label for the column where the lines are listed" %}{% endset %}
                        {{ forms.input("lineHeader", title, module.getOption("lineHeader", "Line"), helpText, "required") }}

                        {% set title %}{% trans "From Header" %}{% endset %}
                        {% set helpText %}{% trans "Change the header-label for the column where the public transport is coming from" %}{% endset %}
                        {{ forms.input("fromHeader", title, module.getOption("fromHeader", "From"), helpText, "required") }}

                        {% set title %}{% trans "To Header" %}{% endset %}
                        {% set helpText %}{% trans "Change the header-label for the column where the public transport is going to" %}{% endset %}
                        {{ forms.input("toHeader", title, module.getOption("toHeader", "To"), helpText, "required") }}

                        {% set title %}{% trans "Start Header" %}{% endset %}
                        {% set helpText %}{% trans "Change the header-label for the column where the public transport is setting of" %}{% endset %}
                        {{ forms.input("startHeader", title, module.getOption("startHeader", "Start"), helpText, "required") }}

                        {% set title %}{% trans "Remaining Header" %}{% endset %}
                        {% set helpText %}{% trans "Change the header-label for the column where the public transport is setting of (remaining minutes)" %}{% endset %}
                        {{ forms.input("remainingHeader", title, module.getOption("remainingHeader", "Remaining"), helpText, "required") }}
                    </div>
                    <div class="tab-pane" id="tableBodyTab">
                        {% set title %}{% trans "Font" %}{% endset %}
                        {% set attributes = [
                            { name: "data-search-url", value: urlFor("library.font.list") },
                            { name: "data-value", value: module.getOption("bodyFont") }
                        ] %}
                        {% set helpText %}{% trans "Select a font for the body" %}{% endset %}
                        {{ forms.dropdown("bodyFont", "single", title, "", [{id: "arial", value: "Arial"}], "id", "value", helpText, "", "", "", "", attributes) }}

                        {% set title %}{% trans "Font Color" %}{% endset %}
                        {% set helpText %}{% trans "Select the color of your font" %}{% endset %}
                        {{ forms.input("tbodyFontColor", title, module.getOption("tbodyFontColor", "#000000"), helpText, "", "required") }}

                        {% set title %}{% trans "Font Size Multiplier" %}{% endset %}
                        {% set helpText %}{% trans "Scale your font size" %}{% endset %}
                        {{ forms.input("tbodyFontScale", title, module.getOption("tbodyFontScale", "1"), "", "required") }}

                        {% set title %}{% trans "Odd Row Background Color" %}{% endset %}
                        {% set helpText %}{% trans "Select the background color of the odd rows" %}{% endset %}
                        {{ forms.input("tbodyBackgroundColor", title, module.getOption("tbodyBackgroundColor", "#ffffff"), helpText, "", "required") }}

                        {% set title %}{% trans "Even Row Background Color" %}{% endset %}
                        {% set helpText %}{% trans "Select the background color of the even rows" %}{% endset %}
                        {{ forms.input("tbodySecondBackgroundColor", title, module.getOption("tbodySecondBackgroundColor", "#f5f5f5"), helpText, "", "required") }}

                        {% set title %}{% trans "Row Count" %}{% endset %}
                        {% set helpText %}{% trans "Specify the how many rows should be displayed at the same time" %}{% endset %}
                        {{ forms.input("rowCount", title, module.getOption("rowCount", "10"), helpText, "", "required") }}
                    </div>
                    <div class="tab-pane" id="iconsTab">
                        {% set title %}{% trans "Hide Icons" %}{% endset %}
                        {% set helpText %}{% trans "Check if you don't want the icons to appear" %}{% endset %}
                        {{ forms.checkbox("hideIcons", title, module.getOption('hideIcons'), helpText) }}

                        {% set title %}{% trans "Reverse Icons" %}{% endset %}
                        {% set helpText %}{% trans "Check if Icons should appear white instead of black" %}{% endset %}
                        {{ forms.checkbox("reverseIcons", title, module.getOption('reverseIcons'), helpText) }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
